

.dashboard {
    padding: 20px;
}

.open-form-button, .close-form-button {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.ransomware-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 600px;
}

.form-input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.form-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Allow automatic column width based on content */
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow-wrap: break-word; /* Allow text to wrap */
    word-wrap: break-word; /* For older browsers */
    word-break: break-word; /* Break long words if needed */
}

.json-data-container {
    margin-top: 20px;
}

.json-data-container h2 {
    margin-bottom: 10px;
}

.data-table th {
    max-width: 150px; /* Set max width for header cells */
}

.data-table td {
    max-width: 150px; /* Set max width for data cells */
    height: auto; /* Al Prevent text wrapping */
}

.json-data-container pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
} 
